.vscode/**
out/**
AUTHORS
wakatime-master/**
dist/wakatime-master/**
test/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
tslint.json
webpack.config.js
**.vsix
npm-debug.**
node_modules/**
.DS_Store
tags
tags.lock
tags.temp
